@media (max-width: 1200px) {
    .sidebar {
        width: 100px;
    }

    main {
        margin-left: 100px;
    }

    .sidebar ul {
        height: 100%;
    }

    .info-block {
        display: none;
    }

    .sidebar .name,
    .sidebar .viewers {
        display: none;
    }
}